/** Inicio de Contacto **/
.contacto {
    margin-top: 10rem;
  }
  
  .formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
  }
  
  .campo {
    display: flex;
    margin-bottom: 2rem;
  }
  
  .campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
  }
  
  .campo__field {
    flex: 1;
    border: 1px solid var(--gris);
  
    &--textarea {
      height: 20rem;
    }
  }
  
  /**Botones**/

.boton {
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border: none;
}

@media (min-width: 368px) {
  .boton {
      display: flex;
      align-items: center;
      margin-left: 9rem;
  }
}
.boton:hover {
  cursor: pointer;
}
.boton--primario {
  background-color: var(--negro);
}
.boton--secundario {
  background-color: var(--primario);
}  

  /** Fin Contacto**/
  